.navbar-left{
    display: inline-block;   
    position: fixed;
    top: 0;
    float: left;
    margin-top: 15px;
}

.navbar-right{
    display: inline-block;
    position: fixed;
    top: 0;
    right: 20px;
    margin-top: 10px;
}

.middle-part{
    margin-top: 200px;
}

.logo{
    text-align: center;
}

.searchbar{
    text-align: center;
}

.search-buttons{
    text-align: center;
    margin-top: 15px;
}

footer{
    display: inline-block;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #f2f2f2;
    color: #4c4c4c;
}
.footer-left{
    float: left;
}

.footer-right{
    float: right;
}