body{
    font-family: 'Roboto', sans-serif;
}
a:link{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

a:visited{
    color: black;
}

a{
    color: black;
}
.navbar-left{
    display: inline-block;   
    position: fixed;
    top: 0;
    float: left;
    margin-top: 15px;
    margin-left: 20px;
    font-size: 13px;
}

.about{
    margin-right: 10px;
}
.navbar-right{
    float: right;
    position: fixed;
    top: 0;
    right: 0;
    margin-top: 15px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    font-size: 13px;
}

.gmail{
    margin-right: 10px;
}

.images{
    margin-right: 10px;
}
.material-icons{
    margin-right: 10px;
}
.sign-in-button{
    background-color: #1a73e8;
    color: white;
    border-radius: 8px;
    border-style: solid;
    border-color: white;
    padding: 8px 16px;
    margin-right: 18px
    font-size: 16px;
    

}
.middle-part{
    margin-top: 200px;
}

.logo{
    text-align: center;
}

.searchbar{
    text-align: center;
  
}
.searchicon{
    height: 12px;
    width: 12px;
    position: relative;
    left: 20px;
    z-index: 1;   
}
#search-input{
    width: 500px;
    padding: 8px 3px;
    margin-top: 15px;
    border-radius: 18px;  
    border-style: solid;
    position: relative;
    right: 20px;
}

.search-buttons{
    text-align: center;
    margin-top: 20px;
}

.search-button{
    background-color: #f8f9fa;
    font-size: 14px;
    padding: 5px;
    border-radius: 5px;
    border-color: white;
    border-style: solid;
    color: gray;
}

.lucky-button{
    background-color: #f8f9fa;
    margin-left: 5px;
    padding: 5px;
    font-size: 14px;
    border-radius: 5px;
    border-color: white;
    border-style: solid;
    color: gray;
}
footer{
    display: inline-block;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #f2f2f2;
    color: #4c4c4c;
    padding: 10px;
}
.footer-left{
    float: left;
    font-size: 14px;
    margin-left: 15px;
}

.advertising{
    margin-right: 15px;
}

.business{
    margin-right: 15px;
}

.footer-right{
    float: right;
    font-size: 14px;
    margin-right: 15px;
}

.terms{
    margin-left: 15px;
}

.settings{
    margin-left: 15px;
}