body{
    font-family: 'Roboto', sans-serif;
}
a:link{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

a:visited{
    color: black;
}

a{
    color: black;
}
.navbar-left{
    display: inline-block;   
    position: fixed;
    top: 0;
    float: left;
    margin-top: 15px;
    margin-left: 20px;
}

.navbar-right{
    display: inline-block;
    position: fixed;
    top: 0;
    right: 20px;
    margin-top: 10px;
}
.sign-in-button{
    background-color: #1a73e8;
    color: white;
    border-radius: 8px;
    border-style: solid;
    border-color: white;
    padding: 8px 16px;
    margin-right: 18px
    font-size: 16px;
}
.middle-part{
    margin-top: 200px;
}

.logo{
    text-align: center;
}

.searchbar{
    text-align: center;
    margin-top: 20px; 
}

#search-input{
    border-radius: 15px;
    width: 400px;
    padding: 8px 3px;
    border-style: solid;
    
}

.search-buttons{
    text-align: center;
    margin-top: 20px;
}

footer{
    display: inline-block;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #f2f2f2;
    color: #4c4c4c;
}
.footer-left{
    float: left;
}

.footer-right{
    float: right;
}